@{
    ViewData["Title"] = "BulkInsert";
}

<div class="card">
    <div class="card-header">Upload Products Excel File</div>
    <div class="card-body">
        <form asp-action="BulkInsert" enctype="multipart/form-data">
            <div class="form-group">
                <label>Excel File</label>
                <input  name="excelFile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Send File</button>
            </div>
        </form>
    </div>
</div>